{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %} Billetterie du Louvre {% endblock %}</title>

        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/nao.css') }}">
            <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        {% endblock %}
    </head>

    <body>
    {#Intégration de variables pour JS#}
    {#<div>#}
            {#id="js-vars"#}
            {#data-vars="{{ js_vars|json_encode|e('html_attr') }}">#}

    {#</div>#}

    <div class="container">
        {% include 'default/header.html.twig'%}
        <div class="row">
            <div id="content" class="col-md-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <hr>

        {% include 'default/footer.html.twig'%}
    </div>

    {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="{{ asset('js/nao.js') }}"></script>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {# Pour Bootstrap-datepicker #}

    {% endblock %}

    </body>
</html>
