{% extends 'base.html.twig' %}

{% block body %}
    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>QUI SOMMES NOUS ?</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">
                                    <i class="ion-ios-home"></i>
                                    Home
                                </a>
                            </li>
                            <li class="active">Qui sommes nous ?</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    ==================================================
        Partie qui sommes-nous 
    ================================================== -->
    <section class="company-description">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                    <img src="{{ asset('images/about/about-company.jpg') }}" alt="" class="img-responsive">
                    <img src="{{ asset('images/about/about-company2.jpg') }}" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="block">
                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">L’ASSOCIATION</h3>
                        <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                            Notre association a été fondée le 10 août 2011 par Michel Dujardin. Passionné d’oiseaux  depuis sa plus tendre enfance, la vision d’une association regroupant des professionnels et des particuliers autour d’une cause commune lui vient à l’idée.
<p>Alors qu’il s’intéresse à la photographie animalière durant son BTS « Gestion/Protection de la nature », il fonde une première association regroupant les amoureux de la nature sous le nom «Ecolobirds ». Cette dernière ayant pour but de rassembler des fonds pour la conception de mangeoires dans les écoles pour sensibiliser les jeunes générations à l’habitat des oiseaux. </p>
<p>En 2013, Ecolobirds s’agrandit et compte déjà une vingtaine de membres, tous passionnés d’oiseaux : pour certains, professionnels ayant déjà une grande carrière de naturaliste, pour d’autres, juste amateurs d’ornithologie. Le groupe se rassemble alors 3 fois par mois afin de partager ensemble leurs observations sur les différentes espèces rencontrées, organiser des expositions photographiques ainsi que des randonnées entre passionnés. </p>
<p>En avril 2015, Ecolobirds devient « Nos amis les Oiseaux ». Après de nombreuses parutions dans des revues scientifiques prestigieuses (Sciences & Vie, Futura-Science, Planet-Terre) la réputation de NAO devient nationale et devient lauréat du « Grand prix de la démarche collective » décerné au GIEE Cendrecor. </p>
<p>En septembre 2017, NAO décide de poursuivre son évolution, toujours sur ce même concept d’observations collectives et ouvre au grand public sa première web application.</p>
                        <br>
                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">NOS OBJECTIFS</h3>
                        <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                            NAO a pour but de permettre à l'ensemble des passionnés d’ornithologie (particulier & professionnels) de réaliser simplement et rapidement des observations d'oiseaux durant leurs promenades.  

<p>Notre programme de recherche vise à étudier les effets du climat, de l'urbanisation et de l'agriculture sur la biodiversité. Vous pourrez grâce à notre programme, consulter toutes les observations effectuées autour des différentes espèces ainsi que leur localisation.</p>
                        </p>
                        
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Company Feature Section Start
    ================================================== -->
    <section class="about-feature clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    <h2>
                        Découvrir
                    </h2>
                    <p>
                        NAO Nos Amis les Oiseaux, c’est avant tout la découverte de nombreuses espèces d’oiseaux différentes : Aigle criard, bruand roux, ariane à ventre vert, canard musqué etc…  notre application est une véritable mine d’information pour tous les passionnés d’ornithologie.
                    </p>
                </div>
                <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                    <h2 class="item_title">
                        Observer
                    </h2>
                    <p>
                        En vous inscrivant sur NAO, vous pouvez déposer vos observations depuis votre mobile, votre tablette ou votre ordinateur. En cas d’erreur de saisie des données, pas de panique ! un naturaliste aguerri validera les données saisies afin qu’elles apparaissent sur la fiche détaillée de l’espèce rencontrée.
                    </p>
                </div>
                <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                    <h2 class="item_title">
                        Protéger
                    </h2>
                    <p>
                        NAO, c’est avant tout une noble cause, un pari dingue et une collaboration entre passionnés. Pour cela, nous remercions chaleureusement  chacun de nos fidèles utilisateurs. Afin d’adhérer à notre association, il vous suffit de nous contacter. Nous vous répondrons dans les plus brefs délais.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Partie non reprise sur le projet P5 NAO
    ================================================== 
    <section id="team">
        <div class="container">
            <div class="row">
                <h2 class="subtitle text-center">Meet The Team</h2>
                <div class="col-md-3">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="team-img">
                            <img src="{{ asset('images/team/team-1.jpg') }}" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Jonathon Andrew</h3>
                        <p class="team_designation">CEO, Project Manager</p>
                        <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                        <p class="social-icons">
                            <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="team-img">
                            <img src="{{ asset('images/team/team-2.jpg') }}" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Jesmin Martina</h3>
                        <p class="team_designation">CEO, Project Manager</p>
                        <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                        <p class="social-icons">
                            <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="team-img">
                            <img src="{{ asset('images/team/team-3.jpg') }}" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Deu John</h3>
                        <p class="team_designation">CEO, Project Manager</p>
                        <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                        <p class="social-icons">
                            <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <div class="team-img">
                            <img src="{{ asset('images/team/team-4.jpg') }}" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Anderson Martin</h3>
                        <p class="team_designation">CEO, Project Manager</p>
                        <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                        <p class="social-icons">
                            <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                            <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <!--
    ==================================================
    Clients Section Start
    ================================================== -->
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="subtitle text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Nos amis les oiseaux</h2>
                    <div id="clients-logo" class="owl-carousel">
                        <div>
                            <img src="{{ asset('images/clients/logo-1.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('images/clients/logo-2.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('images/clients/logo-3.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('images/clients/logo-4.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('images/clients/logo-5.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('images/clients/logo-1.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('images/clients/logo-2.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('images/clients/logo-3.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('images/clients/logo-4.jpg') }}" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('images/clients/logo-5.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

