{% extends 'default/base.html.twig' %}

    {% block title %}
        Ajouter une observation
    {% endblock %}

{% block section %}
    <section id="review-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div id="blocPosition" class="text-center">
                        <div id="legend"></div>
                        <div class="input-group">
                            <input type="textbox" id="address" class="form-control" style="text-align:right" >
                            <span class="input-group-btn">
                              <button class="btn btn-send" id="encode" type="button">Recherche</button>
                            </span>
                        </div>
                    </div></br>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}

                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                        <div class="col-xs-3">
                            {{ form_label(form.taxref, "Espèce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.taxref) }}
                        </div>
                        <div class="col-xs-9">
                            {# Génération de l'input. #}
                            {{ form_widget(form.taxref, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                        <div class="col-xs-3">
                        {{ form_label(form.date, "Date", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.date) }}
                        </div>
                        <div class="col-xs-9">
                            {# Génération de l'input. #}
                            {{ form_widget(form.date, {'attr': {'class': 'js-datepicker form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                        <div class="col-xs-3">
                        {{ form_label(form.note, "Note", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.note) }}
                        </div>
                        <div class="col-xs-9">
                            {# Génération de l'input. #}
                            {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                        <div class="col-xs-3">
                        {{ form_label(form.photo, "Fichier", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.photo) }}
                        </div>
                        <div class="col-xs-9">
                            {# Génération de l'input. #}
                            {{ form_widget(form.photo.file) }}
                        </div>
                    </div>
                    <div class="form-group wow fadeInDown " data-wow-duration="500ms" data-wow-delay="1.6s">
                        <div class = "col-xs-3 control-label"></div>
                        <div class = "col-xs-9">
                            <input type="submit" class = "btn btn-send pull-right" value="Poster" />
                        </div>
                    </div>
                    {# Génération automatique des champs pas encore écrits.
                       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                       et tous les champs cachés (type « hidden »). #}
                    {{ form_rest(form) }}

                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}
                </div>
                <div class="col-lg-6">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Datepicker -->
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
    <!-- Geolocalisation-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFLTldKU5XQdx7B_ldPv__ZHbTTISL9PU&callback=initMap"></script>
    <script src="{{ asset('js/nao-geolocalisation.js') }}"></script>
    <script src="{{ asset('js/nao-datepicker.js') }}"></script>
{%  endblock %}
