{% extends 'default/base.html.twig' %}

    {% block title %}
        {{ observation.taxref.nomVern }}
        <ol class="breadcrumb">
            <li>Cet oiseau a été observé le {{ observation.date|date('d/m/Y') }} à {{ observation.commune }}, par {{ observation.user }}</li>
        </ol>
    {% endblock %}

{% block section %}
    <!--
    ==================================================
        Admin Review Section Start
    ================================================== -->
    <section id="review-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                    <div class="obs-img-view">
                        {% if observation.photo.id is defined %}
                            <h2 class="subtitle wow">Photo prise par l'observateur</h2>
                            <img class = "img-observation" src="{{ asset('uploads/img/'~observation.photo.id|e~'.jpeg') }}" alt="{{ observation.taxref.nomVern }}" />
                        {%  else %}
                            <img src='{{ asset('images/logo.png') }}' class="edit-img-responsive {# img-responsive #} edit-img-padding" alt="NAO - Nos amis les oiseaux - Logo">
                            <br>
                            <br>
                            <p class="text-center">Pas de photo disponible pour cette observation.</p>
                        {% endif %}    
                    </div>
                </div>
                <div class="col-md-6 wow fadeInDown edit-img-padding" data-wow-duration="500ms" data-wow-delay="1.2s">
                    <div id="map"></div>
                </div>
            </div>
            <div class="row">
            <div class="note-container">
                <h2 class="col-sm-12 subtitle wow note-obs-margin">Observation</h2>
                <p class="col-sm-12">{{ observation.note }}</p>
            </div>
            <div class="row">
                <p class="text-center">
                    <a href="{{ path('NAO_searchEspece') }}" class="btn btn-send btn-obs-margin">Revenir à la recherche d'espèce</a>
                </p>
            </div>
        </div>
    </section>

    <input type="Hidden" id="appbundle_observation_latitude" value="{{ observation.latitude }}">
    <input type="Hidden" id="appbundle_observation_longitude" value="{{ observation.longitude }}">
    <input type="Hidden" id="appbundle_observation_commune" value="{{ observation.longitude }}">
    <input type="Hidden" id="address" value="{{ observation.commune }}">
    <input type="Hidden"  id="legend"></input>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Geolocalisation-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFLTldKU5XQdx7B_ldPv__ZHbTTISL9PU&callback=initMap"></script>
    <script src="{{ asset('js/nao-geolocalisation.js') }}"></script>
{% endblock %}
