{#navbar Securité#}
    <nav class="navbar navbar-default navbar-inscription" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('NAO_home') }}">
                    <img class="image-nav" src="{{ asset('images/logo.png') }}" alt="Logo NAO"><p class ="titre-nav">Partez à la rencontre des oiseaux</p>
                </a>            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-target">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Bonjour, {{ app.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                            </ul>
                        </li>
                        {#Tester si Admin ou User#}
                        {% if app.user.roles[0] == "ROLE_NATURALISTE" %}
                            <li><a href="{{ path('login') }}">Admin</a></li>
                        {% endif %}
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Non Connecté <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('login') }}">Se connecter</a></li>
                                <li><a href="{{ path('login') }}">S'inscrire</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container- -->
    </nav>


