{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
<section class="apps_screen page" id="SCREENS">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
                <!-- APPS SCREEN TITLE -->
                <div class="section_title">
                    <h2>Screenshots</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
                <!-- END APPS SCREEN TITLE -->
            </div>
        </div>
    </div>

    <div class="screen_slider">
        <div id="demo" class="wow bounceInRight" data-wow-duration="1s">
            <div id="owl-demo" class="owl-carousel">

                <!-- APPS SCREEN IMAGES -->
                <div class="item">
                    <a href="images/screens/iPhone04.png" rel="prettyPhoto[pp_gal]"><img src="{{ asset('images/iPhone04.png')}}" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone05.png" rel="prettyPhoto[pp_gal]"><img src="{{ asset('images/iPhone05.png')}}" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone06.png" rel="prettyPhoto[pp_gal]"><img src="{{ asset('images/iPhone06.png')}}" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone07.png" rel="prettyPhoto[pp_gal]"><img src="{{ asset('images/iPhone07.png')}}" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone08.png" rel="prettyPhoto[pp_gal]"><img src="{{ asset('images/iPhone08.png')}}" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
                <div class="item">
                    <a href="images/screens/iPhone09.png" rel="prettyPhoto[pp_gal]"><img src="{{ asset('images/iPhone09.png')}}" width="60" height="60" alt="APPS SCREEN" /></a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- ENS APPS SCREEN -->