{% extends '::base.html.twig' %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Espace naturaliste</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('NAO_back_office_observations_list') }}">
                                    Liste observations
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('NAO_back_office_validation_list') }}">
                                    Valider observations
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('NAO_back_office_user_list') }}">
                                    Liste utilisateurs
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#page-header-->

    <!--
    ==================================================
        Admin Review Section Start
    ================================================== -->
    <section id="review-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
                	<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Observations les plus récentes</h2>
                	<table class="admin-table wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                		<thead class="admin-thead">
                			<tr>
                				<th class="col-xs-1">N°</th>
                				<th class="col-xs-1">Date</th>
                				<th class="col-xs-5">Espèce</th>
                				<th class="col-xs-4">Utilisateur</th>
                			</tr>
                        </thead>
                        <tbody>
                            {% for observation in validatedList %}
                                <tr>
                                    <td class="col-xs-1">{{ observation.id }}</td>
                                    <td class="col-xs-1">{{ observation.date|date('d/m/Y') }}</td>
                                    <td class="col-xs-5">{{ observation.taxref.nomVern }}</td>
                                    <td class="col-xs-4">{{ observation.user }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">
                                        Aucune observation n'est disponible pour le moment.
                                    </td>
                                </tr>               
                            {% endfor %}
                        </tbody>
                	</table>
    			</div>
    			<div class="col-md-6">
                	<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Observations à valider</h2>
                	<table class="admin-table wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.1s">
                        <thead class="admin-thead">
                            <tr>
                                <th class="col-xs-1">N°</th>
                                <th class="col-xs-2">Date</th>
                                <th class="col-xs-5">Espèce</th>
                                <th class="col-xs-4">Utilisateur</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for observation in invalidatedList %}
                                <tr>
                                    <td class="col-xs-1">{{ observation.id }}</td>
                                    <td class="col-xs-1">{{ observation.date|date('d/m/Y') }}</td>
                                    <td class="col-xs-5">{{ observation.taxref.nomVern }}</td>
                                    <td class="col-xs-4">{{ observation.user }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">
                                        Aucune observation en attente de validation.
                                    </td>
                                </tr>               
                            {% endfor %}
                        </tbody>
                    </table>
    			</div>
                <div class="col-md-6">
                    <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Derniers utilisateurs inscrits</h2>
                    <table class="admin-table wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.1s">
                        <thead class="admin-thead">
                            <tr>
                                <th class="col-xs-1">N°</th>
                                <th class="col-xs-1">Nom</th>
                                <th class="col-xs-2">E-mail</th>
                                <th class="col-xs-5">Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in userList %}
                                <tr>
                                    <td class="col-xs-1">{{ user.id }}</td>
                                    <td class="col-xs-1">{{ user.username }}</td>
                                    <td class="col-xs-2">{{ user.email }}</td>
                                    <td class="col-xs-5">
                                        {% if user.roles.0 == 'ROLE_NATURALISTE' %}
                                            Naturaliste
                                        {% else %}
                                            Particulier
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">
                                        Aucun utilisateur inscrit.
                                    </td>
                                </tr>               
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    		</div>
    	</div>
    </section>

{% endblock %}

