{% extends 'admin/base.html.twig' %}

{% block title %}

    Modification d'une observation

{% endblock %}

{% block section %}

    <!--
    ==================================================
        Admin Review Section Start
    ================================================== -->
    <section id="review-section">
        <div class="container">
            <div class="row">
                <h2 class="col-md-12 subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Modification de l'annonce n°{{ observation.id }}</h2>
                <div class="col-md-12 observation-edit-padding wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">
                    <p class="col-md-6 text-center">
                        <label>Utilisateur : </label>
                        {{ observation.user }}
                    </p>
                    <p class="col-md-6 text-center">
                        <label>Date de soumission : </label>
                        {{ observation.date|date('d/m/Y') }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                    {# Image view #}
                    <div class="img-view">
                        <img class="edit-img-responsive edit-img-padding" src="{{ asset('uploads/img/'~observation.photo.id|e~'.jpeg') }}" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="blocPosition" class="text-center">
                        <div id="legend"></div>
                        <div class="col-xs-12 input-group">
                            <input type="textbox" id="address" class="form-control" style="text-align:right" readonly>
                        </div>
                    </div>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}

                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                        {# Génération du label. #}
                        {{ form_label(form.taxref, "Espèce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.taxref) }}

                        <div class="col-sm-10">
                            {# Génération de l'input. #}
                            {{ form_widget(form.taxref, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                        {# Génération du label. #}
                        {{ form_label(form.date, "Date", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.date) }}

                        <div class="col-sm-10">
                            {# Génération de l'input. #}
                            {{ form_widget(form.date, {'attr': {'class': 'js-datepicker form-control', 'readonly': 'readonly'}}) }}
                        </div>
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                        {# Génération du label. #}
                        {{ form_label(form.note, "Note", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.note) }}

                        <div class="col-sm-10">
                            {# Génération de l'input. #}
                            {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group wow fadeInDown " data-wow-duration="500ms" data-wow-delay="1.6s">
                        <div class = "col-sm-2 control-label"></div>
                        <div class = "col-sm-10">
                            <input type="submit" class="btn pull-right btn-send" value="Modifier" />
                        </div>
                    </div>
                    {# Génération automatique des champs pas encore écrits.
                       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                       et tous les champs cachés (type « hidden »). #}
                    {{ form_rest(form) }}

                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Geolocalisation-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFLTldKU5XQdx7B_ldPv__ZHbTTISL9PU&callback=initMap"></script>
    <script src="{{ asset('js/nao-geolocalisation.js') }}"></script>
{% endblock %}
