{% extends 'admin/base.html.twig' %}

{% block title %}

    Liste des utilisateurs

{% endblock %}

{% block section %}

    <!--
    ==================================================
        Flashbag Section Start
    ================================================== -->
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <!--
    ==================================================
        Admin Review Section Start
    ================================================== -->
    <section id="review-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
                	<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Utilisateurs</h2>
                	<table class="admin-table wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                		<thead class="admin-thead">
                            <tr>
                                <th class="col-xs-1">N°</th>
                                <th class="col-xs-1">Nom</th>
                                <th class="col-xs-2">E-mail</th>
                                <th class="col-xs-5">Statut</th>
                                <th class="col-xs-2">Action</th>
                            </tr>
                		</thead>
                		<tbody>
                            {% for user in userList %}
                                <tr>
                                    <td class="col-xs-1">{{ user.id }}</td>
                                    <td class="col-xs-1">{{ user.username }}</td>
                                    <td class="col-xs-2">{{ user.email }}</td>
                                    <td class="col-xs-5">
                                        {% if user.roles.0 == 'ROLE_NATURALISTE' %}
                                            Naturaliste
                                        {% else %}
                                            Particulier
                                        {% endif %}
                                    </td>
                                    <td class="col-xs-2">
                                        <a href="{# {{ path('NAO_back_office_user_modification', { 'id': user.id }) }} #}" class="modification-link"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="#delete{{ user.id }}" class="deletion-link" data-toggle="modal">
                                        	<span class="glyphicon glyphicon-remove-sign"></span>
                                        </a>
                                    </td>
                                </tr>
                                <!-- MODAL WINDOW FOR DELETION -->
                                <div class="modal fade" id="delete{{ user.id }}" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                                <h4 id="modalTitle" class="modal-title">Etes-vous certain de vouloir supprimer cet utilisateur ?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Une fois supprimé, ce compte ne pourra pas être récupéré.</p>
                                                <p class="modal-button-margin text-right">
                                                    <a href="{{ path('NAO_back_office_user_deletion', { 'page': 'user', 'id': user.id }) }}" class="delete-button">Supprimer</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <tr>
                                    <td colspan="5">
                                        Aucun utilisateur inscrit.
                                    </td>
                                </tr>
                            {% endfor %}
			       		</tbody>
                	</table>
                    {% if nbPages > 1 %}
                        <ul class="paging">
                            <li>
                                <a href="{{ path('NAO_back_office_observations_list', { 'page': 1 }) }}" class="{{ (page <= 1) ? 'not-active' }} : ''">Début</a>
                            </li>
                            <li>
                                <a href="{{ path('NAO_back_office_observations_list', { 'page': page - 1 }) }}" class="{{ (page <= 1) ? 'not-active' }} : ''">Précédent</a>
                            </li>
                            {% if page > 3 %}
                                <li>
                                    <a href="#" class='not-active'>...</a>
                                </li>
                            {% endif %}
                            {% if page > 2 %}
                                <li>
                                    <a href="{{ path('NAO_back_office_observations_list', { 'page': (page - 2) }) }}">{{ page - 2 }}</a>
                                </li>
                            {% endif %}
                            {% if page > 1 %}
                                <li>
                                    <a href="{{ path('NAO_back_office_observations_list', { 'page': (page - 1) }) }}">{{ page - 1 }}</a>
                                </li>
                            {% endif %}   
                            <li>
                                <a href="{{ path('NAO_back_office_observations_list', { 'page': page }) }}" class="current-page">{{ page }}</a>
                            </li>                            
                            {% if (page + 1) <= nbPages %}
                                <li>
                                    <a href="{{ path('NAO_back_office_observations_list', { 'page': (page + 1) }) }}">{{ page + 1 }}</a>
                                </li>
                            {% endif %}
                            {% if (page + 2) <= nbPages %}
                                <li>
                                    <a href="{{ path('NAO_back_office_observations_list', { 'page': (page + 2) }) }}">{{ page + 2 }}</a>
                                </li>
                            {% endif %}
                            {% if (page + 3) <= nbPages %}
                                <li>
                                    <a href="#" class='not-active'>...</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('NAO_back_office_observations_list', { 'page': page + 1 }) }}" class="{{ (page >= nbPages) ? 'not-active' }} : ''">Suivant</a>
                            </li>
                            <li>
                                <a href="{{ path('NAO_back_office_observations_list', { 'page': nbPages }) }}" class="{{ (page >= nbPages) ? 'not-active' }} : ''">Fin</a>
                            </li>
                        </ul>
                    {% endif %}
    			</div>
    		</div>
    	</div>
    </section>

{% endblock %}
