{% extends 'admin/base.html.twig' %}

{% block title %}

    Modification d'une observation

{% endblock %}

{% block section %}

    <!--
    ==================================================
        Admin Review Section Start
    ================================================== -->
    <section id="review-section">
        <div class="container">
            <div class="row">
                <h2 class="col-md-12 subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Modification de l'utilisateur n°{{ user.id }}</h2>
                <div class="col-md-12 observation-edit-padding wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">
                    <p class="col-md-6 text-center">
                        <label>Utilisateur : </label>
                        {{ user.username }}
                    </p>
                    <p class="col-md-6 text-center">
                        <label>E-mail : </label>
                        {{ user.email }}
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <a href="{{ path('NAO_back_office_user_promotion', { 'id': user.id }) }}" class="btn btn-send {{ (user.hasRole('ROLE_NATURALISTE')) ? 'not-active' : '' }}">Promouvoir Naturaliste</a>
                <a href="{{ path('NAO_back_office_user_demotion', { 'id': user.id }) }}" class="btn btn-send {{ (user.hasRole('ROLE_NATURALISTE')) ? '' : 'not-active' }}">Rétrograder Particulier</a>
            </div>
        </div>
    </section>

{% endblock %}
