{% extends 'admin/base.html.twig' %}

{% block title %}

    Modification d'une observation

{% endblock %}

{% block section %}

    <!--
    ==================================================
        Admin Review Section Start
    ================================================== -->
    <section id="review-section">
        <div class="container">
            <div class="row">
                <h2 class="col-md-12 subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Modification de l'utilisateur n°{{ user.id }}</h2>
                <div class="col-md-12 observation-edit-padding wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">
                    <p class="col-md-6 text-center">
                        <label>Utilisateur : </label>
                        {{ user.username }}
                    </p>
                    <p class="col-md-6 text-center">
                        <label>E-mail : </label>
                        {{ user.email }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                        {# Génération du label. #}
                        {{ form_label(form.role, "Modifier le rôle :", {'label_attr': {'class': 'control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.role) }}

                        {# Génération de l'input. #}
                        {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <br>
                    <br>
                    <div class="form-group wow fadeInDown " data-wow-duration="500ms" data-wow-delay="1.6s">
                        <div class = "col-xs-12 text-center">
                            <input type="submit" class = "btn btn-send" value="Modifier" />
                        </div>
                    </div>

                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
