{% extends '::base.html.twig' %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Espace administrateur</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('NAO_back') }}">
                                    Accueil de l'administration
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('NAO_back_office_validation_list') }}">
                                    Valider observations
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#page-header-->

    <!--
    ==================================================
        Admin Review Section Start
    ================================================== -->
    <section id="review-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
                	<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Liste des observations</h2>
                	<table class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                        <thead>
                            <tr>
                                <th class="col-xs-1">N°</th>
                                <th class="col-xs-1">Date</th>
                                <th class="col-xs-2">Utilisateur</th>
                                <th class="col-xs-6">Espèce</th>
                                <th class="col-xs-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for observation in observationsList %}
                                <tr>
                                    <td class="col-xs-1">{{ observation.id }}</td>
                                    <td class="col-xs-1">{{ observation.date|date('d/m/Y') }}</td>
                                    <td class="col-xs-2">{{ observation.user }}</td>
                                    <td class="col-xs-6">{{ observation.taxref.nomVern }}</td>
                                    <td class="col-xs-2">
                                        <a href="#" class="modification-link"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="{{ path('NAO_back_office_deletion', { 'page': 'observations', 'id': observation.id }) }}" class="deletion-link">
                                            <span class="glyphicon glyphicon-remove-sign"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                	</table>
    			</div>
    		</div>
    	</div>
    </section>

{% endblock %}

