{% extends 'default/base.html.twig' %}

    {% block title %}
        {{ observation.taxref.nomVern }}
        <ol class="breadcrumb">
            <li>Cet oiseau a été observé le {{ observation.date|date('d/m/Y') }} à {{ observation.commune }}, par {{ observation.user }}</li>
        </ol>
    {% endblock %}

{% block section %}
    <!--

    <!--
    ==================================================
        Admin Review Section Start
    ================================================== -->
    <section id="review-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                    <div>
                        {% if observation.photo.id is defined %}
                            <img class = "img-observation" src="{{ asset('uploads/img/'~observation.photo.id|e~'.jpeg') }}" />
                        {%  else %}
                            <img src='{{ asset('images/logo.png') }}' class="edit-img-responsive edit-img-padding">
                            <br>
                            <br>
                            <p class="text-center">Pas de photo disponible pour cette observation.</p>
                        {% endif %}    
                    </div>
                </div>

                <div class="col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="review-section">
        <div class="container">
            <div class = "row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Observation</h3>
                    </div>
                    <div class="panel-body">{{ observation.note }}</div>
                </div>

            </div>
        </div>
    </section>
    <input type="Hidden" id="appbundle_observation_latitude" value="{{ observation.latitude }}">
    <input type="Hidden" id="appbundle_observation_longitude" value="{{ observation.longitude }}">
    <input type="Hidden" id="appbundle_observation_commune" value="{{ observation.longitude }}">
    <input type="Hidden" id="address" value="{{ observation.commune }}">
    <input type="Hidden"  id="legend"></input>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Geolocalisation-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFLTldKU5XQdx7B_ldPv__ZHbTTISL9PU&callback=initMap"></script>
    <script src="{{ asset('js/nao-geolocalisation.js') }}"></script>
{% endblock %}
