{% extends 'base.html.twig' %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Chercher une Espèce</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">
                                    <i class="ion-ios-home"></i>
                                    Home
                                </a>
                            </li>
                            <li class="active">Chercher une Espèce</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="review-section">
        <DIV class="container">
            <form class="form-inline" id="contact-form" method="get" action="{{ path('NAO_searchEspece') }}" role="form">
                <div class="input-group col-lg-5">
                    <input type="text" class="form-control" name="q" id="name" style="text-align:left" placeholder="Votre recherche">
                    <span class="input-group-btn"><button class="btn btn-send" type="submit">Rechercher</button></span>
                </div>
            </form>
            </br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-condensed" >
                        <tbody>
                        {% for taxref in taxrefsList %}
                            <TR>
                                <TD class = "col-xs-2">
                                    {%  if taxref.image == "" %}
                                        <a href="{{ path('NAO_detailEspece', { 'id': taxref.id }) }}"><div class="img-vignette img-responsive" style="background-image:url({{ asset('images/logo.png') }})"></div></a>
                                    {% else %}
                                        <a href="{{ path('NAO_detailEspece', { 'id': taxref.id }) }}"><div class="img-vignette" style="background-image:url({{ asset('images/taxref/' ~ taxref.image) }})"></div></a>
                                    {% endif %}
                                </TD>
                                <TD class = "col-xs-10">
                                    <a href="{{ path('NAO_detailEspece', { 'id': taxref.id }) }}"><p class = "tab-center">{{ taxref.nomVern }}</p></a>
                                    <a target="_blank" href="https://inpn.mnhn.fr/espece/cd_nom/{{ taxref.cdNom }}" >https://inpn.mnhn.fr/espece/cd_nom/ {{ taxref.cdNom }}</a>

                                </TD>
                            </TR>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if nbPages > 1 %}
                        <ul class="paging">
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': 1, 'q': app.request.get('q') }) }}" {{ (page <= 1) ? 'not-active' }} : ''">Début</a>
                            </li>
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': page - 1, 'q': app.request.get('q') }) }}"  {{ (page <= 1) ? 'not-active' }} : ''">Précédent</a>
                            </li>
                            {% if page > 3 %}
                                <li>
                                    <a href="#" class='not-active'>...</a>
                                </li>
                            {% endif %}
                            {% if page > 2 %}
                                <li>
                                    <a href="{{ path('NAO_searchEspece', { 'page': (page - 2), 'q': app.request.get('q') }) }}" >{{ page - 2 }}</a>
                                </li>
                            {% endif %}
                            {% if page > 1 %}
                                <li>
                                    <a href="{{ path('NAO_searchEspece', { 'page': (page - 1), 'q': app.request.get('q') }) }}" >{{ page - 1 }}</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': page, 'q': app.request.get('q') }) }}" class="current-page">{{ page }}</a>
                            </li>
                            {% if (page + 1) <= nbPages %}
                                <li>
                                    <a href="{{ path('NAO_searchEspece', { 'page': (page + 1), 'q': app.request.get('q') }) }}" >{{ page + 1 }}</a>
                                </li>
                            {% endif %}
                            {% if (page + 2) <= nbPages %}
                                <li>
                                    <a href="{{ path('NAO_searchEspece', { 'page': (page + 2), 'q': app.request.get('q') }) }}" >{{ page + 2 }}</a>
                                </li>
                            {% endif %}
                            {% if (page + 3) <= nbPages %}
                                <li>
                                    <a href="#" class='not-active'>...</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': page + 1, 'q': app.request.get('q') }) }}" class="{{ (page >= nbPages) ? 'not-active' }} : ''">Suivant</a>
                            </li>
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': nbPages, 'q': app.request.get('q') }) }}" class="{{ (page >= nbPages) ? 'not-active' }} : ''">Fin</a>
                            </li>
                        </ul>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>


{% endblock %}

