{% extends 'base.html.twig' %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Chercher une Espèce</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">
                                    <i class="ion-ios-home"></i>
                                    Home
                                </a>
                            </li>
                            <li class="active">Chercher une Espèce</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="review-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Liste des espèces</h2>
                    <table class="admin-table wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                        <thead class="admin-thead">
                        <tr>
                            <th class="col-xs-1">Id</th>
                            <th class="col-xs-2">cdNom</th>
                            <th class="col-xs-9">Espèce</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for taxref in taxrefsList %}
                            <TR>
                                <TD><a href="{{ path('NAO_detailEspece', { 'id': taxref.id }) }}"> {{taxref.id }}</a></TD>
                                <TD>{{ taxref.cdNom }}</TD>
                                <TD>{{ taxref.nomVern }}</TD>
                            </TR>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if nbPages > 1 %}
                        <ul class="paging">
                            {% for p in range(1, nbPages) %}
                                <li {% if p == page %} class="active" {% endif %}>
                                    <a href="{{ path('NAO_searchEspece', { 'page': p }) }}"> {{ p }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

