{% extends 'base.html.twig' %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Chercher une Espèce</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">
                                    <i class="ion-ios-home"></i>
                                    Home
                                </a>
                            </li>
                            <li class="active">Chercher une Espèce</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="review-section">
        <div class="container">
            <div class = "row">
                <div class="col-md-12">
                    <form class="form-inline" id="contact-form" method="get" action="{{ path('NAO_searchEspece') }}" role="form">
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                            <input type="text" placeholder="Votre recherche" class="form-control" name="q" id="name">
                            <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="admin-table wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                        <thead class="admin-thead">
                        <tr>
                            <th class="col-xs-1">Image</th>
                            <th class="col-xs-1">Id</th>
                            <th class="col-xs-2">cdNom</th>
                            <th class="col-xs-8">Espèce</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for taxref in taxrefsList %}
                            <TR>
                                <TD>
                                    {%  if taxref.image == "" %}
                                        <img src="{{ asset('images/logo.png') }}" class="img-vignette" alt="Logo NAO" >
                                    {% else %}
                                        <img src="{{ asset('images/taxref/' ~ taxref.image) }}" class="img-vignette" alt="{{ taxref.cdNom }}" >
                                    {% endif %}
                                </TD>
                                <TD><a href="{{ path('NAO_detailEspece', { 'id': taxref.id }) }}"> {{taxref.id }}</a></TD>
                                <TD><a href="https://inpn.mnhn.fr/espece/cd_nom/{{ taxref.cdNom }}">{{ taxref.cdNom }}</a></TD>
                                <TD>{{ taxref.nomVern }}</TD>
                            </TR>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if nbPages > 1 %}
                        <ul class="paging">
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': 1, 'q': app.request.get('q') }) }}" class="{{ (page <= 1) ? 'not-active' }} : ''">Début</a>
                            </li>
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': page - 1, 'q': app.request.get('q') }) }}" class="{{ (page <= 1) ? 'not-active' }} : ''">Précédent</a>
                            </li>
                            {% if page > 3 %}
                                <li>
                                    <a href="#" class='not-active'>...</a>
                                </li>
                            {% endif %}
                            {% if page > 2 %}
                                <li>
                                    <a href="{{ path('NAO_searchEspece', { 'page': (page - 2), 'q': app.request.get('q') }) }}">{{ page - 2 }}</a>
                                </li>
                            {% endif %}
                            {% if page > 1 %}
                                <li>
                                    <a href="{{ path('NAO_searchEspece', { 'page': (page - 1), 'q': app.request.get('q') }) }}">{{ page - 1 }}</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': page, 'q': app.request.get('q') }) }}" class="current-page">{{ page }}</a>
                            </li>
                            {% if (page + 1) <= nbPages %}
                                <li>
                                    <a href="{{ path('NAO_searchEspece', { 'page': (page + 1), 'q': app.request.get('q') }) }}">{{ page + 1 }}</a>
                                </li>
                            {% endif %}
                            {% if (page + 2) <= nbPages %}
                                <li>
                                    <a href="{{ path('NAO_searchEspece', { 'page': (page + 2), 'q': app.request.get('q') }) }}">{{ page + 2 }}</a>
                                </li>
                            {% endif %}
                            {% if (page + 3) <= nbPages %}
                                <li>
                                    <a href="#" class='not-active'>...</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': page + 1, 'q': app.request.get('q') }) }}" class="{{ (page >= nbPages) ? 'not-active' }} : ''">Suivant</a>
                            </li>
                            <li>
                                <a href="{{ path('NAO_searchEspece', { 'page': nbPages, 'q': app.request.get('q') }) }}" class="{{ (page >= nbPages) ? 'not-active' }} : ''">Fin</a>
                            </li>
                        </ul>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>


{% endblock %}

