 <img src = " {{  absolute_url (asset ( " https://nao.kahilom.com/images/logo.png " )) }} "  width = "182"  Hauteur = "55"  alt = "Logo du projet P5 NAO"  />
</div>
<br />
Cet email est envoyé par " {{ nom }} " et SwiftMailer : <br />
<h1>{{ sujet }} </h1><br />
<h3> Message : </h3>
<p>{{ message }}
</p><br />
<h4>l'adresse email de contact est {{ email }}</h4>